ul {
  color: white;
  margin: 1cm;
}

p1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 300%;
  color: white;
}

h1 {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 150px;
  font-size: 150%;
  color: white;
  margin-left: 1ch;
}

h2 {
  display: flex;
  align-items: left;
  justify-content: left;
  color: white;
  height: 150px;
  font-size: 150%;
  margin-left: 1ch;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url('images/Al-Saleh-1024x684.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.start-screen,
.score-container {
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}

#restart {
  margin-top: 0.9em;
}

#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}

.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}

.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}

.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}

.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}

.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}

#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #019d1b;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
}


.hide {
  display: none;
}

.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}

.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}

#user-score {
  font-size: 1.5em;
  color: #ffffff;
}

.start-screen button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.start-screen button:hover {
  background-color: white;
}

.go-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 181%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go-back button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.go-back button:hover {
  background-color: white;
}

.fact-screen {
  position: relative;
  margin: 3cm;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.fact-screen button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.fact-screen button:hover {
  background-color: white;
}

.sunnah-screen {
  position: relative;
  text-align: left;
  margin: 3cm;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.sunnah-screen button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.sunnah-screen button:hover {
  background-color: #f1f1f1;
  /* Change the background color on hover for better visibility */
}

.prophets-screen {
  position: relative;
  margin: 3cm;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.prophets-screen button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.prophets-screen button:hover {
  background-color: white;
}

.quotes-screen {
  position: relative;
  text-align: left;
  margin: 3cm;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.quotes-screen button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.quotes-screen button:hover {
  background-color: white;
}
